{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class='auction section'>
    <div class="secContsiner container">
        <div class="secHeading flex">
            <!-- <section class="brands">
                <div class="brands-container">
                    <img src="images/Design1.jpg" alt="">
                </div>
            
            </section> -->
            <div class="navBtns flex">
                {% if page_obj1.has_previous %}
                <a href="?page1={{ page_obj1.previous_page_number }}">
                    <i class="fa fa-arrow-left icon leftIcon "></i>
                </a>
                {% endif %}
                {% if not page_obj1.has_previous %}
                <i class="fa fa-arrow-left unclick"></i>
                {% endif %}
            </div>
            <form method="GET" action="{% url 'seller_cars' %}" class="seller flex">
            {% for seller in page_obj1 %}
                
                <button name="seller" id="seller" value="{{seller.id}}"   type="submit" class="sellerBtn" >
                    {% comment %} <img src="{{seller.image.url}}" alt=""> {% endcomment %}
                        {{seller.name}}
                </button>
            {% endfor %}
            </form>


            <div class="navBtns flex">


                {% if page_obj1.has_next %}
                <a href="?page1={{ page_obj1.next_page_number }}">
                    <i class="fa fa-arrow-right icon rightIcon"></i>
                </a>
                {% endif %}
                {% if not page_obj1.has_next %}
                <i class="fa fa-arrow-right  unclick"></i>

                {% endif %}

            </div>
        </div>
        <div class="secHeading flex">
            <h3 class="secTitle">
                Active Auction
            </h3>

            <div class="navBtns flex">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                    <i class="fa fa-arrow-left icon leftIcon "></i>
                </a>
                {% endif %}
                {% if not page_obj.has_previous %}
                <i class="fa fa-arrow-left unclick"></i>
                {% endif %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    <i class="fa fa-arrow-right icon rightIcon"></i>
                </a>
                {% endif %}
                {% if not page_obj.has_next %}
                <i class="fa fa-arrow-right  unclick"></i>

                {% endif %}

            </div>
        </div>

        <div class="carContainer grid">
            {% for car in page_obj %}

            <div class="singleCar grid">
                <div class="imgDiv">

                    <a href="{% url "car_details" car.id %}">
                        {% comment %} <img src="{{car.image.url}}" alt="Image" class="logo"> {% endcomment %}
                        <div id="carImagesCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in car.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="Car Image">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </a>
                </div>
                <h5 class="carTitle">
                    {{car.title}}
                </h5>
                <span class="miles">
                    {{car.speed}} Miles
                </span>

                <span class="AWD">
                    {{car.type_of_cylinder}}
                </span>

                <div class="price_buyBtn flex">
                    <span class="price">
                        ${{car.price}}
                    </span>

                    <span class="buyBtn">Buy Now</span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}